# קבצים זמניים של Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# קבצים אישיים או סיסמאות/קונקשן
conection/con.py

# קבצי IDE (כמו PyCharm / IntelliJ)
.idea/
*.iml

# קבצי לוג
*.log

# קבצים זמניים של מערכת ההפעלה
.DS_Store
Thumbs.db
